:root {
    --font-family: "Ubuntu", sans-serif;
}

body {
    font-family: var(--font-family);
    background-image: url(../image/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100dvh;

}


/*---------HEADER---------*/

.page__header {
    padding: 18px 79px 18px 79px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: rgba(0, 0, 0, 0.4);
}

.page__logo {
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    color: #fff;
    transition: all .3s;
}

.page__logo:hover {
    color: #3cb878;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    opacity: 0.41;

}

.container--header {
    display: flex;
    align-items: center;
}

.btn {
    background-color: transparent;
    border: none;
    margin-right: 25px;
}

.cart__btn:hover path {
    fill: #01813F;
}

.cart__btn {
    margin-left: auto;
}

.header__line {
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
    margin: 0;
}

.registration__list {
    list-style: none;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}

.registration__item-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #fff;
}

.registration__log:hover {
    color: #3cb878;
    opacity: 0.41;
    transition: all .3s;
}

.registration__sign:hover {
    color: #3cb878;
    opacity: 0.41;
    transition: all .3s;
}

.btn:hover path {
    fill: #3cb878;
    opacity: 0.41;
    transition: all .3s;
}

/*-------MAIN---------*/

.container--main {
    padding-top: 54px;
    padding-bottom: 74px;

}

.content__wrapper {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.52);
    max-width: 444px;
    padding: 31px 60px 38px 60px;
    margin-left: auto;
    margin-right: auto;

}

.content__wrapper::before {
    content: "";
    background-color: #3CB878;
    width: 18px;
    height: 18px;
    display: inline-block;
    position: relative;
    top: 20px;
    left: -60px;
}

.page__user {
    margin-bottom: 15px;

}

.user__sign {

    font-size: 20px;
    line-height: 100%;
    text-align: center;
    color: #434343;
    border: none;
    background-color: transparent;
    margin-right: 185px;

}

.user__log {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #3cb878;
    border: none;
    background-color: transparent;

}

.user__log:hover {
    text-decoration: underline;
    color: #01813F;
    transition: all .5s;

}

/*-----FORM-------*/

fieldset {
    border: none;
}

legend {
    text-align: center;
}

.form__element {
    padding: 14px 20px 16px 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    width: 300px;
    height: 44px;
    margin-bottom: 15px;
}

::placeholder {
    color: #bebebe;
}

.form__element:first-child {
    color: #434343;
}

.form__element:focus {
    outline: none;
    border-radius: 4px;
    fill: #fff;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);

}

.socials {
    display: flex;
    gap: 6px;
    margin-bottom: 34px;
}

.socials-btn {
    width: 157px;
    height: 46px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    padding: 0 18px 0 18px;
    cursor: pointer;

}

.fb__btn {

    background-color: #305DB8;
}

.fb__btn:hover {
    background-color: #022263;
    transition: all .3s;
}

.fb__line {
    width: 1px;
    height: 28px;
    background: #0a162f;
    opacity: 0.1;
}

.google__btn {

    background-color: #DF4A32;
}

.google__btn:hover {
    background-color: #ab1f09;
    transition: all .3s;
}

.google__line {
    width: 1px;
    height: 28px;
    background: #2b0d09;
    opacity: 0.1;
}

.v-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



.legend__txt {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #848484;
    margin-bottom: 7px;
}

.legend__txt::before {
    content: "";
    display: inline-block;
    width: 125px;
    height: 1px;
    background-color: #f2f2f2;
    position: relative;
    top: -3px;
    left: -9px;
}

.legend__txt::after {
    content: "";
    display: inline-block;
    width: 125px;
    height: 1px;
    background-color: #f2f2f2;
    position: relative;
    top: -3px;
    left: 6px;
}

.page__form {
    display: flex;
    flex-direction: column;

}

.first-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #434343;

}

.accent-color {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #3cb878;
}

.accent-color:hover {
    text-decoration: underline;
    color: #01813F;
    transition: all .3s;
}

.submit-btn {
    border-radius: 4px;
    width: 324px;
    height: 46px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    padding: 16px 99px;
    background-color: #3CB878;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #01813F;
    transition: all .3s;
}

/*------CHECKBOX-------*/

.real-checkbox {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.fake-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #f2f2f2;
    margin-right: 8px;
    vertical-align: sub;
}

.fake-checkbox:before {
    content: "";
    background-image: url(../image/stroke.svg);
    background-repeat: no-repeat;
    display: block;
    width: 16px;
    height: 16px;
    transform: scale(0);
    transition: .2s;

}

.real-checkbox:checked+.fake-checkbox:before {
    transform: scale(1);
}